.app {
  padding: 80px 0;

  &__section-title {
    text-align: center;

    @include media(978) {
      margin-top: 0;
    }
  }

  &__desc {
    display: flex;
    justify-content: space-between;

    @include media(1100) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    @include media(1100) {
      z-index: -1;
      order: -1;
      margin-left: 30px;
    }
  }

  @include media(1100) {
    padding-bottom: 160px;
  }

  @include media(978) {
    padding: 50px 0;
  }

  @include media(500) {
    padding: 30px 0 120px;
  }
}

.instruction {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &_android {
    @include media(1100) {
      margin-top: -214px;
      background: #fff;
    }
  }

  &_ios {
    text-align: right;

    .instruction__item {
      justify-content: flex-end;

      @include media(1100) {
        justify-content: start;
      }
    }

    .instruction__num {
      order: 1;

      @include media(1100) {
        order: 0;
      }
    }

    @include media(1100) {
      text-align: left;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: $mainColor;

    @include media(1100) {
      text-align: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    gap: 9px;

    &:not(:first-child) {
      margin-top: 17px;
    }
  }

  &__num {
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    min-width: 35px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%);
    line-height: 37px;
    text-align: center;
    color: #fff;
    background-color: $secondColor;
  }

  &__link {
    &:focus {
      outline: 3px solid $isFocusColor;
    }

    @include media(1100) {
      position: absolute;

      &_android {
        left: 0;
        bottom: -358px;
      }

      &_ios {
        right: 0;
        bottom: -73px;
      }
    }
  }

  &__img {
    margin-top: 17px;
  }
}
