.header {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 10px;
    width: 100%;

    &__container {
        display: flex;
        align-items: center;
        gap: 31px;

        @include media(1200) {
            justify-content: space-between;
        }
    }

    &__phone {
        transition: 0.2s;

        &:hover {
            color: $secondColor;
        }
    }

    &__logo {
        @include media(500) {
            width: 30%;
        }
    }

    @include media(1200) {
        overflow-x: hidden;
        height: 100vh;
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
        gap: 20px;

        @include media(1200) {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            padding: 0 20px;
            width: 300px;
            height: 100vh;
            box-shadow: -11px 0 8px 0 rgb(0 0 0 / 20%);
            background: linear-gradient(85.32deg, #2bc36f 6.78%, #2086a6 89.25%);
            opacity: 0;
            visibility: hidden;
            transform: translate(100%, 0);
            transition: 0.2s;

            &_active {
                opacity: 1;
                visibility: visible;
                transform: translate(0, 0);
            }
        }

        @include media(600) {
            width: 100%;
            transition: 0.3s;
        }
    }

    &__item {
        transition: 0.2s;

        &:not(:nth-last-child(-n+2)) {
            border-bottom: 3px solid transparent;

            &:hover {
                border-color: $mainColor;
            }
        }
    }

    &__link {
        font-size: 18px;
        line-height: 30px;
        color: #fff;

        &:focus {
            outline: 3px solid $isFocusColor;
            outline-offset: 3px;
        }
    }
}

.phone-svg {
    width: 12px;
    height: 12px;
    fill: $mainColor;
}

.menu-btn {
    z-index: 11;
    display: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 12px 12px;
    grid-template-rows: 12px 12px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    transition: 0.2s;

    &__circle {
        display: block;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: $secondColor;

        &:nth-child(2) {
            background-color: $mainColor;
        }
    }

    &_active {
        .menu-btn__circle {
            background-color: $mainColor;
        }
    }

    @include media(1200) {
        display: grid;
    }
}
