.popup {
    border-radius: 10px;
    padding: 50px 30px 25px;
    max-width: 950px;
    background: #fff;

    &__title {
        margin: 50px 0 0;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #292929;
    }

    &__title-main {
        margin: 0;
        font-weight: 700;
        font-size: 32px;
        line-height: 31px;
        color: $secondColor;
    }

    &__title-small {
        margin: 30px 0 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        color: #2bc36f;
    }

    &__txt {
        margin: 20px 0 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }

    @include media(500) {
        padding: 50px 15px 25px;
    }
}

.popup-small {
    max-width: 562px;

    .popup__title-main {
        color: #292929;

        @include media(500) {
            font-size: 29px;
        }
    }

    &__form {
        .form__list {
            grid-template-columns: 1fr;
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }
}

.btn-close {
    position: absolute;
    right: 21px;
    top: 16px;

    &__svg {
        width: 25px;
        height: 25px;
        fill: $mainColor;

        @include media(500) {
            width: 15px;
            height: 15px;
        }
    }

    &:focus {
        outline: 3px solid $isFocusColor;
    }

    @include media(500) {
        right: 8px;
        top: 11px;
    }
}

.modal {
    background-color: rgb(0 0 0 / 85%);
}

// popup-work //

.work {
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
        margin: 15px 0 0;
        gap: 20px;
    }

    &__item {
        position: relative;
        padding-left: 40px;
        font-size: 14px;
        line-height: 20px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 28px;
            height: 20px;
            background: center / cover no-repeat url("./../img/popup-arrow.svg");
        }
    }
}

.form {
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        margin-top: 20px;
        gap: 30px;
    }

    &__item {
        &:last-child {
            align-self: end;
            justify-self: center;
            width: 100%;
        }
    }

    &__label {
        display: block;
        font-size: 14px;
        line-height: 20px;
    }

    &__input {
        border: 1px solid #eee;
        border-radius: 3px;
        width: 100%;
        height: 44px;
        background: #fff;

        &_textarea {
            height: 146px;
            resize: none;
        }

        &:focus {
            outline: 3px solid $isFocusColor;
        }
    }

    &__file {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 150px;
        width: 100%;
        height: 44px;
        text-align: center;
        background: #f5f5f5;
        transition: 0.2s;
        cursor: pointer;

        &_is-focus {
            outline: 3px solid $isFocusColor;
        }

        &-svg {
            margin-right: 10px;
            width: 13px;
            height: 15px;
            fill: $secondColor;
        }

        &-txt {
            font-size: 14px;
            line-height: 20px;
        }

        &-btn {
            position: absolute;
            width: 1px;
            height: 1px;
            opacity: 0;
        }

        &:hover {
            background: darken(#f5f5f5, 3%);
        }
    }

    &__buttons {
        float: right;
        width: 200px;

        @include media(950) {
            float: none;
            margin: 50px auto 0;
        }
    }

    &__btn {
        width: 196px;
    }

    &__btn-clear {
        display: block;
        margin: 0 auto;
        margin-top: 11px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        text-decoration-line: underline;
        color: $secondColor;

        &:focus {
            outline: 3px solid $isFocusColor;
        }
    }
}

.positions-checkbox {
    border: none;
    padding: 0;

    &__title {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
    }

    &__label {
        padding: 10px 0 0 55px;

        &:focus {
            outline: 3px solid $isFocusColor;
        }

        &:last-child {
            margin-left: 10px;
        }
    }
}

.custom-checkbox {
    @include custom-checkbox;
}

.custom-checkbox__field:focus+.custom-checkbox__content::before {
    outline: 3px solid $isFocusColor;
}

// popup-partner //

.partner {
    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 25px 0 80px;
        gap: 20px;

        @include media(580) {
            margin-bottom: 40px;
        }
    }

    &__item {
        position: relative;
        padding-left: 40px;
        max-width: 250px;
        font-size: 14px;
        line-height: 20px;

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            line-height: 28px;
            text-align: center;
            color: #fff;
            background: #25a18e;
        }

        &_1 {
            &::before {
                content: "1";
            }
        }

        &_2 {
            &::before {
                content: "2";
            }
        }

        &_3 {
            &::before {
                content: "3";
            }
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;

        @include media(580) {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__btn {
        padding: 0 20px;
        width: auto;
    }
}
